name: Build and Lint

on: push 

jobs:
  test:
    name: build and test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.3'
        cache: false

    - name: Cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Build
      run: |
        go build -v ./...
        go vet ./...

    - name: Test
      run: go test -v ./...

    - name: Lint
      run:  gofmt -d ./
